{% extends "base.html" %}
{% block title %}Login - MyLMS{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card p-4 shadow-sm">
      <h4 class="mb-3">Login</h4>
      <form method="post" novalidate>
        {% csrf_token %}
        <div class="mb-3">
          {{ form.username.label_tag }}<br>
          {{ form.username }}
        </div>
        <div class="mb-3">
          {{ form.password.label_tag }}<br>
          {{ form.password }}
        </div>
        <div class="d-grid">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
